h1 {

    color: red;
    text-align: center;
    padding: 3px;
     width: 5;
    height: 100;
    border: 3px solid black;
    gap: flex;
    margin: 500;
    
}

div p {
    color: gold;
}

p{
            padding: 30px;
            width: 50;
            height: 100;
            border: 3px solid brown;
            gap: flex;
            margin-right: 1000px;
            }

        h3{
            color: red;
    text-align: center;
    padding: 3px;
     width: 5;
    height: 100;
    border: 3px solid yellow;
    gap: flex;
    margin: 500;
        }
