h1 {

    color: red;
    text-align: center;
    padding: 3px;
     width: 200;
    height: 100;
    border: 3px solid black;
}

div p {
    color: gold;
}

p{
            padding: 3px;
            width: 200;
            height: 100;
            border: 3px solid black;
            }
